*{
  margin: 0;
  padding: 0;
}

.beers{
  h1{
    text-align: center;
  }
}

.beers__layout{
  display: inline-flex;
  border: 2px solid black;
  width: 99.75%;
  height: 75%;
}

.beers__NavBar{
  display: flex;
}

.beers__main__CardList{
  display: inline-flex;
  flex-wrap: wrap;
}

.beers__main__CardList_Cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid pink;
  width: 260px;
  img{
    width: 100px;
    height: 200px;
    object-fit:contain;
  }

  p{
    word-wrap:normal;
  }
}

.beers__main__CardList_Cards--ToolTip--Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
}

.beers__main__CardList_Cards--ToolTip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #2d3436;
  color: white;
  z-index: 2;
}

.beers__main__CardList_Cards--ToolTip--faXmark{
  position: absolute;
  top:5%;
  right: 2%;
  font-size: 1.5rem;
}