*{
  margin: 0;
  padding: 0;
}

.beers{
  h1{
    text-align: center;
  }
}

.beers__layout{
  display: inline-flex;
  border: 2px solid black;
  width: 99.75%;
  height: 75%;
}

.beers__NavBar{
  display: flex;
}

.beers__main__CardList{
  display: inline-flex;
  flex-wrap: wrap;
}

.beers__main__CardList_Cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid pink;
  width: 260px;
  img{
    width: 100px;
    height: 200px;
    object-fit:contain;
  }

  p{
    word-wrap:normal;
  }
}

.beers__main__CardList_Cards--ToolTip{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  z-index: 2;
}